@using Valuating.Controllers
<div style="width:100%;height:30px; text-align:center; font-size:12px;font-family:SimSun ;background:url('/resource/images/(67).png'); color:#1d89c7; line-height:30px;"> @VT.SystemName</div>